services:
  service1:
    build:
      dockerfile: Dockerfile
      context: service-1
    ports:
      - 3000:18888
    networks:
      - net1
  service2:
    build:
      dockerfile: Dockerfile
      context: service-2
    ports:
      - 3001:18888
    networks:
      - net1
  nginx:
    image: nginx
    volumes:
      - type: bind
        source: ./nginx/default.conf
        target: /etc/nginx/conf.d/default.conf
    ports:
      - 80:80
    networks:
      - net1
networks:
  net1:
